body {
    background: white;
    }
    .titulo_del_producto {
        color: green;
        }
    .link_del_producto {
        color: purple;
        text-decoration: underline;
        }
    .descripcion_del_producto {
        color: red;
        }
    #imagen_del_producto {
        width: 500px;
        }